.game-card {
    width: 15rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    min-height: 23rem;
    margin: auto;
}

.card-img-top {
    height: 9rem;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.details-button {
    margin-top: auto;
}